*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header li{
  list-style: none;
  text-align: center;
  display: inline-block;
  padding: 10px;
}

.imagem_parallax{
    background-image: url(dobra1.jpg);  

    min-height: 500px;

    opacity: 60%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#titulo{
  height: 8em;
  width: 100%;
  background-color: #f3f8f1;
}

#titulo{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center; 
}
h1{
  font-family: sans-serif;
  font-weight:bolder;
  color: #0a0a0a;
  font-size: 50px;
}
h2{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center; 
  font-family: sans-serif;
  font-weight:bolder;
  color: white;
  font-size: 30px;
  margin: 25px;
}

body{
  background-color: #2A292F;
}
#texto1{
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  word-break:normal;
  padding-right: 200px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px,80px,128px,80px;
    position: relative;
    margin-left: 20px;
}
#papel{
  display: grid;
  place-items: center;
  padding: 30px;
}

#papel img{
  margin-bottom: 30px;
}

#papel p{
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  word-break:normal;
  margin: 30px;
  text-align: center;
}